body {
  background: url(../src/assets/images/background-12.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-color: #ffffff;
  font-family: "Courier Prime", monospace;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
}

img {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}

.contentBox {
  border-style: solid;
  border-color: #394457;
  border-width: 5px;
}

.nav-brand-link {
  padding-left: 25px;
  text-decoration: none;
} 

.nav-link p {
  padding-left: 25px;

}

.navBarStyle {
  margin-bottom: 10px;
}

.navBarStyle a {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.lastname {
  color: red;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.main-picture {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-picture img {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.main-picture h1 {
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: #ffffff;
  font-size: 280%;
}

/* Style for the portfolio content page */
.content {
  width: 100%;
  display: inline-block;
  margin-right: 10px;
}

#about-me {
  margin-bottom: 10px;
  padding: 50px;
  min-height: 400px;
  background-color: #379edf;
  color: #ffffff;
}

#coding-projects {
  margin-bottom: 10px;
  padding: 50px;
  min-height: 300px;
  background-color: #286185;
  color: #ffffff;
}

#resume {
  margin-bottom: 10px;
  padding: 50px;
  min-height: 300px;
  background-color: #074f7c;
  color: #ffffff;
}

#about-me img {
  float: left;
  margin-right: 25px;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 0;
}

#coding-projects img,
#resume img {
  float: left;
  margin-right: 25px;
  border-radius: 10px;
  max-height: 300px;
  width: 200px;
  object-fit: cover;
}

#about-me h2,
#coding-projects h2,
#resume h2 {
  margin-bottom: 20px;
  font-size: 200%;
}

#about-me p,
#coding-projects p,
#resume p {
  margin-bottom: 20px;
  font-size: 120%;
}

#about-me button,
#coding-projects button,
#resume button {
  float: right;
}

.portfolioBtn {
  position: relative;
  background-color: #53ceff;
  border-radius: 10px;
  border-style: solid;
  border-color: #379edf;
  font-size: 100%;
  color: #ffffff;
  padding: 0px 10px;
  width: 200px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 5px;
  box-shadow: 2px 3px 3px #232b54;
}

/* Style for the resume page */
#resumepage {
  margin-bottom: 10px;
  padding: 50px;
  min-height: 400px;
  background-color: #074f7c;
  color: #ffffff;
}

#resumepage img {
  margin-right: 25px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 10px;
  max-height: 50%;
  max-width: 45%;
}

#resumepage h2 {
  margin-left: 30px;
  font-size: 200%;
}

#resumepage p {
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 120%;
}

.downloadBtn {
  position: relative;
  left: 30px;
  margin: 10px 0px 20px 0px;
}

.resumeImg img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}

/* Style for the project page */

#coding-projects-page {
  margin-bottom: 10px;
  padding: 50px;
  min-height: 400px;
  background-color: #074f7c;
  color: #ffffff;
}

#coding-projects-page img {
  margin: 25px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  object-fit: fill;
}

#coding-projects-page h2 {
  margin-left: 30px;
  font-size: 200%;
  font-weight: 600;
}

#coding-projects-page p {
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 120%;
}

.projectBtn {
  position: relative;
  left: 30px;
  margin: 20px 10px 20px 0px;
}

/* style for about me page */

.aboutMeCard {
  margin: 10px 0px;
  background-color: #ffffff;
  color: #ffffff;
}

.aboutMeImg {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutMeContent {
  padding: 30px;
  background-color: #074f7c;
  height: 200px;
}

.aboutMeContent h5 {
  font-size: 200%;
  font-weight: 600;
}

.aboutMeContent button {
  float: right;
}

/* Style for all footers */
.footer {
  padding: 20px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: rgb(45, 56, 90);
}

.footer h2,
.footer h3,
.footer p {
  font-size: 120%;
  color: #ffffff;
}